@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shippori Mincho B1', serif;
    
}
html,body{
    position: relative;
}
header{
    width: 100%;
    height: 100vh;
    overflow:hidden;
    align-items: center;
    vertical-align: middle
}
#parallax{
    background-image: url(../images/pexels-august-de-richelieu-4427431.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
#opacity_video{
    height:100vh;
    width: 100%;
    background-color: #00000077;
    text-align: center;
}
#titulo{
    color:#d1cece;
    position: relative;
    top: 50%;
}
#titulo::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 1s infinite;
}
/*About Us*/
#about_us{
    padding: 10vh;
    background-color: lightgray;
}
#about_us h3{
    border-bottom: 1px solid #010101;
}
#about_us h6{
    padding: 1vh;
}
#about_us h6 i{padding-right: 1vh;}
/*team section*/
#team_section h1{
    margin: 10vh 0;
}
#team_section .card{
    padding:20px;
    margin-bottom: 10vh;
    border: 1px solid #010101;

}
#team_section .card h4{
    border-bottom: none;
    padding: 1vh 0;
}
#team_section .card ul{
    border: 1px solid #01010199;
}
#team_section .card li{
    border-bottom: 1px solid #01010199;
}

.card-redes-socias{
    display: flex;
    justify-content: space-around;
}
.card-redes-socias a{
    font-size: 2.5em;
}
.card-redes-socias a:first-child{
    color:#3b5998;
}

.card-redes-socias a:nth-child(2) i{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    
}
.card-redes-socias a:last-child{
    color:#0e76a8;
}
/*`Parallax section*/ 
#parallax_main{
    background-image: url(../images/pexels-august-de-richelieu-4427430.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
}
#opacity_parallax{
    height: 50vh;
    width: 100%;
    background-color: #00000077;
}
/*Parallax 2*/
#parallax2{
    width: 100%;
    height: inherit;
    overflow: hidden;
    position: relative;
}
video{
    top: 0;
    left: 0;
    display:block;
    width: 100%;
}
#parallax2-opacity{
    height:100%;
    width: 100%;
    position: absolute;
    background-color: #00000099;
}
/*Especialidades*/
#section_especialidades{
    background-color: lightgray;
    padding-bottom: 10vh;
}
#section_especialidades h1{
    margin: 10vh 0;
}
#section_especialidades .card{
    margin: 5vh 0;
    background-color: lightgray;
    border: 1px solid #010101;
    padding:5vh 0;
}
#section_especialidades .card .card-body{
    text-align: center;
}
#section_especialidades .card .card-body i{
    font-size:5rem;
}
#section_especialidades .card .card-body h4{
    margin: 3vh 0;
}
/*section_contato*/

#section_contato{
    background-image: url(../images/pexels-august-de-richelieu-4427626.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
#section_contato_opacity{
    height: 100%;
    width: 100%;
    padding: 100px 0;
    background-color: #00000099;
}
#section_contato_opacity h1{
    margin: 5vh 0;
    color: #f5f5f5;
}
#section_contato form{
    padding:50px;
    margin: 5vh 0;
    border: 1px solid #F1f1f1;
}
#section_contato form label,#section_contato form input,#section_contato form textarea{
    width: 100%;
    margin-top: 1vh;
    color: #F1f1f1;
}
#section_contato form button{margin-top:2vh;padding: 5px;}
#section_contato form label:focus,#section_contato form input:focus,#section_contato form textarea:focus,#section_contato form button:focus{
    outline: 0;
}
#section_contato form button{
    padding:10px 25px;
    font-weight: bolder;
    margin-left: 40%;
}
#section_contato form textarea{
    height:100px;
}
#section_contato ul{
    padding:50px;
    margin: 5vh 0;
    list-style: none;
    margin-left: 20%;
}
#section_contato ul li{
    font-size:2rem;
    margin: 2vh ;
}
#section_contato li a{color:#F1f1f1;text-decoration:none;}
#section_contato li:first-child a:hover{
    color:#3b5998;
}
#section_contato li:nth-child(2) a:hover{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
#section_contato li:nth-child(3) a:hover{
    color:#0e76a8;
}
#section_contato li:nth-child(4) a:hover{
    color:#43C354;
}
#section_contato li:nth-child(5) a:hover{
    color:#dc4b3e;
}
/*Footer*/
#section_footer{
    background-color:#ffffff;
    padding:7vh 0;
    color: #f5f5f5;
}
#section_footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
#section_footer ul a{
    font-size:2.5em;
    width: initial;
}
#section_footer li:first-child a{
    color:#3b5998;
}
#section_footer li:nth-child(2) a{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
#section_footer li:nth-child(3) a{
    color:#0e76a8;
}
#section_footer li:last-child a{
    color:#43C354;
}
#footer-botom{
    color: #010101;
    font-size: 1.5em;
    border-top: .2px solid #010101;
    padding-top: 2vh;
}
#footer-botom a{
    color: #01010199;
    text-decoration: none;
}
#footer-botom a:hover{
    color: #010101;
}
/*animações*/
@keyframes pisca {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}