@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shippori Mincho B1', serif;
    
}
html,body{
    position: relative;
}
header{
    width: 100%;
    height: 100vh;
    overflow:hidden;
    align-items: center;
    vertical-align: middle
}
#parallax{
    background-image: url(../images/pexels-august-de-richelieu-4427431.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
#opacity_video{
    height:100vh;
    width: 100%;
    background-color: #00000077;
    text-align: center;
}
#titulo{
    color:#d1cece;
    position: relative;
    top: 50%;
}
#titulo::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 1s infinite;
}
/*About Us*/
#about_us{
    padding: 10vh;
    background-color: lightgray;
}
#about_us h3{
    border-bottom: 1px solid #010101;
}
#about_us h6{
    padding: 1vh;
}
#about_us h6 i{padding-right: 1vh;}
/*team section*/
#team_section h1{
    margin: 10vh 0;
}
#team_section .card{
    padding:20px;
    margin-bottom: 10vh;
    border: 1px solid #010101;

}
#team_section .card h4{
    border-bottom: none;
    padding: 1vh 0;
}
#team_section .card ul{
    border: 1px solid #01010199;
}
#team_section .card li{
    border-bottom: 1px solid #01010199;
}

.card-redes-socias{
    display: flex;
    justify-content: space-around;
}
.card-redes-socias a{
    font-size: 2.5em;
}
.card-redes-socias a:first-child{
    color:#3b5998;
}

.card-redes-socias a:nth-child(2) i{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    
}
.card-redes-socias a:last-child{
    color:#0e76a8;
}
/*`Parallax section*/ 
#parallax_main{
    background-image: url(../images/pexels-august-de-richelieu-4427430.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
}
#opacity_parallax{
    height: 50vh;
    width: 100%;
    background-color: #00000077;
}
/**/
/*animações*/
@keyframes pisca {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}